@using Demo.Utility
@model OrderVM

<form method="post">
	<input asp-for="@Model.Header.Id" hidden />
	<br />
	<div class="container">
		<div class="card">
			<div class="card-header bg-dark text-light ml-0">
				<div class="container row">
					<div class="col-12 d-none d-md-block col-md-6 pb-1">
						<i class="fas fa-shopping-cart"></i> &nbsp; Order Summary
					</div>
					<div class="col-12 col-md-4 offset-md-2 text-right">
						<a asp-action="Index" class="btn btn-outline-info form-control btn-sm">Back to Orders</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="container rounded p-2">
					<div class="col-12 col-lg-6 pb-4">
						<div class="row">
							<h4 class="d-flex justify-content-between align-content-center mb-3">
								<span class="text-primary">Pick-up Details</span>
							</h4>
						</div>

						@await Html.PartialAsync("_FormField", new FormFieldModel("Model.Header.Name"))
						@await Html.PartialAsync("_FormField", new FormFieldModel("Model.Header.StreetAddress", label: "Address"))
						@await Html.PartialAsync("_FormField", new FormFieldModel("Model.Header.City"))
						@await Html.PartialAsync("_FormField", new FormFieldModel("Model.Header.State"))
						@await Html.PartialAsync("_FormField", new FormFieldModel("Model.Header.PostalCode"))
						@await Html.PartialAsync("_FormField", new FormFieldModel("Model.Header.ApplicationUser.Email"))
						@*TODO: Add id to carrier and tracking number fields, so the validation can work*@
						@await Html.PartialAsync("_FormField", new FormFieldModel("Model.Header.Carrier"))
						@await Html.PartialAsync("_FormField", new FormFieldModel("Model.Header.TrackingNumber"))
						@await Html.PartialAsync("_FormField", new FormFieldModel("Model.Header.OrderDate"))
						@await Html.PartialAsync("_FormField", new FormFieldModel("Model.Header.ShippingDate"))

						@if(User.HasAdminRights())
						{
							@await Html.PartialAsync("_FormField", new FormFieldModel("Model.Header.SessionId"))
							@await Html.PartialAsync("_FormField", new FormFieldModel("Model.Header.PaymentIntentId"))
						}

						@if(Model.Header?.SessionId == null)
						{
							@await Html.PartialAsync("_FormField", new FormFieldModel("Model.Header.PaymentDueDate"))
						}
						else
						{
							@await Html.PartialAsync("_FormField", new FormFieldModel("Model.Header.PaymentDate"))
						}

						@await Html.PartialAsync("_FormField", new FormFieldModel("Model.Header.PaymentStatus"))

						@if(User.HasAdminRights())
						{
							<button asp-action="UpdateDetails" class="btn btn-warning form-control my-1">Update Order Details</button>
						}
					</div>
					<div class="col-12 col-lg-5 offset-lg-1">
						<h4 class="d-flex justify-content-between align-items-center mb-3">
							<span class="text-primary">Order Summary</span>
						</h4>
						<label class="btn btn-outline-primary form-control my-2">Order Status - @Model.Header?.OrderStatus</label>
						<ul>
							@foreach(var item in Model.Details) 
							{
								<li class="list-group-item bg-primary">
									<div class="row-container">
										<div class="col-8">
											<h6 class="text-primary">@item.Product.Title</h6>
											<small class="text-muted">Price : @item.Product.Price.ToString("c")</small><br />
											<small class="text-muted">Quantity : @item.Count</small>
										</div>
										<div class="col-4 text-end">
											<h5 class="text-success">@item.Price.ToString("c")</h5>
										</div>
									</div>
								</li>
							}
							<li class="list-group-item bg-primary">
								<div class="row-container">
									<div class="col-6">
										<h5 class="text-white">TOTAL</h5>
									</div>
									<div class="col-6 text-end">
										<h5 class="text-white">$$$$$</h5>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div>
						@if(Model.Header.PaymentStatus.Equals(SD.PAYMENT_STATUS_DELAYED) && Model.Header.OrderStatus.Equals(SD.ORDER_STATUS_SHIPPED))
						{
							<button asp-action="RequestPayment" class="btn btn-success form-control my-1">Pay Now</button>
						}
						@if(User.HasAdminRights())
						{
							@if(Model.Header.OrderStatus.Equals(SD.ORDER_STATUS_APPROVED))
							{
								<button asp-action="StartProcess" class="btn btn-success form-control my-1">Start Processing</button>
							}
							@if(Model.Header.OrderStatus.Equals(SD.ORDER_STATUS_PROCESSING))
							{
								<button asp-action="ShipOrder" onclick="return validateInput()" class="btn btn-success form-control my-1">Ship Order</button>
							}
						}

						@if(!Model.Header.OrderStatus.EqualsAny(SD.PAYMENT_STATUS_REFUNDED, SD.ORDER_STATUS_SHIPPED, SD.ORDER_STATUS_CANCELLED))
						{
							<button asp-action="CancelOrder" class="btn btn-success form-control my-1">Cancel Order</button>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
	<script>
		function validateInput()
		{
			if(document.getElementById("trackingNumber").value == "")
			{
				Swal.fire({
					icon: 'error',
					title: 'error',
					text = 'Tracking number invalid'
				});
				return false;
			}
			if(document.getElementById("carrier").value == "")
			{
				Swal.fire({
					icon: 'error',
					title: 'error',
					text = 'Carrier invalid'
				});
				return false;
			}
			return true;
		}
	</script>
}